
{% extends 'base.html' %}
{% load static %}

{% block header %}
    <a href="{% url 'index' %}" class="header-button reg-log-button-back"><p>Назад</p></a>
{% endblock %}

{% block content %}
    <div class="registration-login-text">Вхід в обліковий запис:</div>
    <form method="POST" id="l-form" class="registration-login-form" novalidate>
        {% csrf_token %}
        {{ form.email }}
        <div class="password-container">
            {{ form.password }}
            <img class="eye-icon" src="{% static 'img/hide.png' %}" onclick="togglePassword()">
        </div>
        <button class="registration-login-button" type="submit">Увійти</button>
        <p class="registration-login-form-error">{{ error }}</p>
    </form>
{% endblock %}


